@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --purple-light: #e0e0ff;
    --black: #000000;
    --white: #ffffff;
    --gray-1: #dcdcdc;
    --gray-2: #cccccc;
    --gray-3: #999999;
    --purple: #6a00f5;
    --purple-dark: #4a00b3;
    --z-highest: 9999;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.comment-exit {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.comment-exit-active {
    opacity: 0;
}
