@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --riw: 40px;

    --left-nav-expanded-width: 180px;
    --community-right-sidebar-width: 72px;
    --appbar-height: 58px;
    --chatroom-height: 515px;

    --left-nav-expand-button-border: black;

    --background: #ffffff;
    --foreground: #171717;
    --card-background: #ffffff;
    --card-border: #e5e7eb;
    --nav-background: #ffffff;
    --hover-background: #f3f4f6;
    --text-primary: #111827;
    --text-secondary: #4b5563;
    --text-tertiary: #6b7280;
    --border-color: #e5e7eb;
    --purple-light: #e0e0ff;
    --purple: #6a00f5;
    --purple-dark: #4a00b3;
    --z-highest: 9999;
    --shadow-sm: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --primary: #2563eb;
    --primary-light: #dbeafe;
    --primary-lighter: #bfdbfe;
    --primary-darker: #1e40af;
    --success: #16a34a;
    --success-light: #dcfce7;
    --secondary: #6b21a8;
    --secondary-light: #f3e8ff;
    --secondary-darker: #581c87;
    --warning: #d97706;
    --warning-light: #fef3c7;
    --warning-lighter: #fde68a;
    --error: #dc2626;
    --error-darker: #d00707;
    --error-light: #fee2e2;
    --disabled-background: #9ca3af;
    --hover-background-darker: #eaeef3;
    --hover-background-darkest: #111827;
    --input-background: var(--card-background);
    --tag-background: #e5e7eb;
    --tag-text: #4b5563;

    --chat-sidebar-bg: #f8fafc;
    --chat-message-bg: #f1f5f9;
    --chat-message-text: #020202;
    --chat-message-hover: #e2e8f0;
    --chat-room-active: #558ce4;
    --chat-room-active-text: #ffffff;
    --chat-room-hover: #f1f5f9;
    --chat-header-bg: #f8fafc;
    --chat-unread-badge: #e2e8f0;
    --chat-border: #e2e8f0;
}

[data-theme="dark"] {
    --left-nav-expand-button-border: #2d2d2d;

    --background: #121212;
    --foreground: #f9fafb;
    --card-background: #1e1e1e;
    --card-border: #2d2d2d;
    --nav-background: #121212;
    --hover-background: #282828;
    --text-primary: #f3f4f6;
    --text-secondary: #a0a0a0;
    --text-tertiary: #808080;
    --border-color: rgba(255, 255, 255, 0.164);
    --shadow-sm: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
    --primary-light: #1a1a1a;
    --primary-lighter: #2d2d2d;
    --hover-background-darker: #333333;
    --hover-background-darkest: #404040;
    --input-background: #282828;
    --tag-background: #2d2d2d;
    --tag-text: #a0a0a0;

    --chat-sidebar-bg: #1e1e1e;
    --chat-message-bg: #282828;
    --chat-message-text: #f3f4f6;
    --chat-message-hover: #333333;
    --chat-room-active: #3b82f6;
    --chat-room-active-text: #ffffff;
    --chat-room-hover: #282828;

    .MuiPagination-root {
        button {
            color: white !important;
        }
    }
}

body {
    color: var(--text-primary);
    background: var(--background);
}

.element-exit {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.element-exit-active {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tabs-list {
    display: flex;
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 16px;
}

.tab-trigger[data-state="active"] {
    border-bottom: 2px solid black;
}

.tab-trigger {
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    color: #24292e;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content {
    padding: 16px;
    background-color: #fff;
}

.page-container {
    max-width: 60rem;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input:focus-visible {
    outline: none;
}

.tiptap>p {
    padding-bottom: 1rem;
}

/* Why tf text has to uppercase by def */
.MuiButtonBase-root {
    text-transform: none !important;
}