@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --purple-light: #e0e0ff;
    --black: #000000;
    --white: #ffffff;
    --gray-1: #dcdcdc;
    --gray-2: #cccccc;
    --gray-3: #999999;
    --purple: #6a00f5;
    --purple-dark: #4a00b3;
    --z-highest: 9999;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.element-exit {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.element-exit-active {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
